<html>
	<head>
		<title>Hello from Node.js</title>
	</head>
			       
	<body>
		Hello Ira!!!
		
		<h2>Request information</h2>
                <p>Message passed from nodejs server:
                <% if (messageFromNode) { %>
                   <span class="code" id="count-value"><%=messageFromNode%></span>
                   </p>
                <% } else { %>
                   <span class="code" id="count-value">No value found</span>
                   </p>
                <%} %>

	</body>
</html>
